.App {
  margin: 50px;
  width: calc(100vw - 100px);
  height: calc(100vh - 110px);
}

@import url("https://fonts.googleapis.com/css?family=Exo:900");

* {
  box-sizing: border-box;
}

/* body {
  background: linear-gradient(35deg, #111, #fafafa);
  display: flex;
  font-family: 'Exo', sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 0;
} */

.Watch {
  align-items: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(auto, 150px));
  justify-content: center;
  justify-items: center;
  padding: 1rem 0;
  width: 100%;
}

.Watch > div {
  background: repeating-linear-gradient(30deg, var(--strapColor) 0, var(--strapColor) 5px, transparent 5px, transparent 10px) 5px 0/90% 100% no-repeat, repeating-linear-gradient(-30deg, transparent 0, transparent 5px, var(--strapColor) 5px, var(--strapColor) 10px) 5px 0/90% 100% no-repeat, var(--strapBg);
}
.Watch > div:nth-of-type(1) {
  --strapColor: rgba(165,55,253,0.25);
  --strapBg: #be90d4;
}
.Watch > div:nth-of-type(2) {
  --strapColor: rgba(41,241,195,0.25);
  --strapBg: #29c3b9;
}
.Watch > div:nth-of-type(3) {
  --strapColor: rgba(89,171,227,0.25);
  --strapBg: #81cfe0;
}
.Watch > div:nth-of-type(4) {
  --strapColor: rgba(246,36,89,0.25);
  --strapBg: #e26a6a;
}
.Watch > div:nth-of-type(5) {
  --strapColor: rgba(245,229,27,0.25);
  --strapBg: #fef160;
}

.todos-container {
  width: 500px;
  margin: 0 auto;
}

/* Include the padding and border in an element's total width and height */
.todos-container * {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
.todos-container ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
.todos-container ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.todos-container ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
.todos-container ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.todos-container ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.todos-container ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.todos-container .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.todos-container .close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.todos-container .header {
  background-color: #b9aaa9;
  padding: 30px 40px;
  color: #ffffff;
  text-align: center;
}

/* Clear floats after the header */
.todos-container .header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
.todos-container input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.todos-container .addBtn {
  padding-top: 8px;
  width: 25%;
  height: 38px;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.todos-container .addBtn:hover {
  background-color: #bbb;
}
